[submodule "minilibx-linux"]
	path = minilibx-linux
	url = https://github.com/fv99/minilibx-linux.git
[submodule "libft"]
	path = libft
	url = https://github.com/fv99/libft.git
[submodule "minilibx-mac-osx"]
	path = minilibx-mac-osx
	url = https://github.com/dannywillems/minilibx-mac-osx.git
